<div class="row footer flex align-content-center container mx-auto">
  <div class="col-3">
    <div class="logo">
      <img class="logoIcon" src="../../assets//icons/logoV1.png" alt="" />
    </div>
    <div class="iconsContanier my-3 d-flex gap-4">
      <span><img src="../../assets/icons/Icon color (1).png" alt="" /></span>
      <span><img src="../../assets/icons/Icon color (2).png" alt="" /></span>
      <span><img src="../../assets/icons/Icon color (3).png" alt="" /></span>
      <span><img src="../../assets/icons/Icon color.png" alt="" /></span>
    </div>
    <div class="address">
      <div class="header">Address :</div>
      <div class="phone">
        <span class="spanContnet">+123456778</span>
      </div>
      <div class="street">
        <span class="spanContnet"> 877 The Bronx, NY </span>
      </div>
      <div class="contry">
        <span class="spanContnet">14568, USA</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <h4 class="header">My Account</h4>
    <div class="d-flex flex-column ">
      <span class="spanContnet">Sign In</span>
      <span class="spanContnet">Register</span>
      <span class="spanContnet">Order Status</span>
    </div>
  </div>
</div>
