<nav class="navbar  backgroundBlur navbar-expand-lg">
  <div class="container-fluid col-9 mx-auto">
    <a class="navbar-brand order-md-first order-md-center w-auto" href="#"
      ><img
        style="max-height: 1.4rem"
        src="../../assets/icons//logoV1.png"
        alt=""
    /></a>

    <button
      class="navbar-toggler mx-md-auto order-first order-md-center border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        ><img class="navbarIcon" src="../../assets/icons/menuIcon.png" alt=""
      /></span>
    </button>
    <div
      class="collapse navbar-collapse order-last order-md-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto pt-2 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Catagories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-3 align-self-start mt-2">
    <div class="d-flex justify-content-between">
      <a class="" href="#search"
        ><img
          class="navbarIcon mx-sm-4 mx-2"
          src="../../assets/icons/searchIcon.png"
          alt=""
      /></a>

      <a href="#shoppinglist"
        ><img
          class="navbarIcon mx-sm-4 mx-2"
          src="../../assets/icons/shoppingListIcon.png"
          alt=""
      /></a>
      <a href="#profile"
        ><img
          class="navbarIcon mx-sm-4 mx-2"
          src="../../assets/icons/profileIcon.png"
          alt=""
      /></a>
    </div>
  </div>
</nav>
