<div class="container-fluid">
  <div class="displayGrid">
    <div
      style="background-image: url('../../../assets//images/(1).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        Bedroom
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
    <div
      style="background-image: url('../../../assets//images/\ \(2\).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        Meetingroom
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
    <div
      style="background-image: url('../../../assets//images/\ \(3\).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        Workspace
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
    <div
      style="background-image: url('../../../assets//images/\ \(4\).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        workspace
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
    <div
      style="background-image: url('../../../assets//images/\ \(1\).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        Kitchen
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
    <div
      style="background-image: url('../../../assets//images/\ \(5\).jpg')"
      class="card cardStyle position-relative"
    >
      <h1
        class="position-absolute cardHeader backgroundBlur secondaryLightish fontTitle"
      >
        Livingroom
      </h1>
      <button
        class="position-absolute cardButton py-1 px-5 rounded shadow border-0 fontdisplay"
      >
        Explor
      </button>
    </div>
  </div>
</div>
