<div class="bgheader d-flex">
  <!-- Heros Section -->
  <div class="row mx-auto container">
    <!-- Navbar -->
    <div class="row align-self-start fontTitle">
      <app-navbar></app-navbar>
    </div>
    <!-- Action Call section -->
    <div class="heroSection secondaryLightGreen">
      <app-hero-section></app-hero-section>
    </div>
  </div>
</div>
<div class="mt-5">
  <app-category-section></app-category-section>
</div>
<div>
  <app-popular-products></app-popular-products>
</div>
<div class="container">
  <app-special-package></app-special-package>
</div>
<div class="secondaryLight">
  <app-footer></app-footer>
</div>
