<div class="row filterStyle">
  <div class="input-group mx-0">
    <input
      placeholder="&#xF002;   Search"
      type="search"
      id="form1"
      class="form-control px-4 mx-auto fontdisplay"
      style="font-family: Arial, FontAwesome"
    />
  </div>

  <ul class="fontdisplay my-4 text-center">
    <li class="h5 d-inline-block d-lg-block px-2">Bedroom</li>
    <li class="h5 d-inline-block d-lg-block px-2">Dining Room</li>
    <li class="h5 d-inline-block d-lg-block px-2">Meeting Room</li>
    <li class="h5 d-inline-block d-lg-block px-2">Workspace</li>
    <li class="h5 d-inline-block d-lg-block px-2">Living Room</li>
    <li class="h5 d-inline-block d-lg-block px-2">Kitchen</li>
    <li class="h5 d-inline-block d-lg-block px-2">Living Space</li>
    <li class="h5 d-inline-block d-lg-block px-2">Anthoer category</li>
    <li class="h5 d-inline-block d-lg-block px-2">Anthoer category</li>
    <li class="h5 d-inline-block d-lg-block px-2">Anthoer category</li>
    <li class="h5 d-inline-block d-lg-block px-2">Anthoer category</li>
  </ul>
  <div class="d-lg-flex d-none mx-4 flex-column align-items-end">
    <div>
      <img
        class="arrowIcon mx-auto"
        src="../../../assets/icons/Group 28.png"
        alt=""
      />
    </div>
    <div>
      <img class="arrowIcon" src="../../../assets/icons/Group 29.png" alt="" />
    </div>
  </div>
  <div class="categoryParent d-flex">
    <button class="btn border my-lg-4 mb-sm-4 w-75 mx-lg-2 mx-auto allCategotiesBtn">
      <span class="me-2"> All Categories </span>
      <i
        class="fa-regular fa-arrow-right"
        style="font-family: FontAwesome; font-weight: 200"
      ></i>
    </button>
  </div>
</div>
