<div class="container-fluid specialPackage">
  <div class="description mt-xl-0 mt-5">
    <div class="h3">Description</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate alias
      blanditiis fuga, nihil ad quod, numquam asperiores tempore non facilis
      quidem ex quisquam facere itaque nulla? Nihil numquam repellat ipsa?
    </p>
  </div>
  <div class="seclectedCard row d-flex rounded flex-row border">
    <div class="imgContainer w-auto p-3">
      <img
        class="img-fluid cardImage"
        src="../../../assets/images/chair4.jpg"
        alt=""
      />
    </div>
    <div class="cardDesc col p-3 mx-2">
      <div class="cardHeader">
        <h3 class="fontdisplay primaryDarkColor h5">Living Room Family Set</h3>
        <h3 class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2">
          <span>$</span> <span>712</span>
        </h3>
      </div>
      <div class="rate">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <a href="">See Details</a>
    </div>
  </div>
  <div class="cardsContainer d-flex flex-lg-column mt-2">
    <div class="seclectedCard col-12 card row d-flex rounded flex-row border">
      <div class="imgContainer w-auto p-3">
        <img
          class="img-fluid cardImage"
          src="../../../assets/images/chair4.jpg"
          alt=""
        />
      </div>
      <div class="cardDesc col p-3 mx-2">
        <div class="cardHeader">
          <h3 class="fontdisplay primaryDarkColor h5">
            Living Room Family Set
          </h3>
          <h3
            class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2"
          >
            <span>$</span> <span>712</span>
          </h3>
        </div>
        <div class="rate">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <a href="">See Details</a>
      </div>
    </div>
    <div class="seclectedCard col-12 card row d-flex rounded flex-row border">
      <div class="imgContainer w-auto p-3">
        <img
          class="img-fluid cardImage"
          src="../../../assets/images/chair4.jpg"
          alt=""
        />
      </div>
      <div class="cardDesc col p-3 mx-2">
        <div class="cardHeader">
          <h3 class="fontdisplay primaryDarkColor h5">
            Living Room Family Set
          </h3>
          <h3
            class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2"
          >
            <span>$</span> <span>712</span>
          </h3>
        </div>
        <div class="rate">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <a href="">See Details</a>
      </div>
    </div>
    <div class="seclectedCard col-12 card row d-flex rounded flex-row border">
      <div class="imgContainer w-auto p-3">
        <img
          class="img-fluid cardImage"
          src="../../../assets/images/chair4.jpg"
          alt=""
        />
      </div>
      <div class="cardDesc col p-3 mx-2">
        <div class="cardHeader">
          <h3 class="fontdisplay primaryDarkColor h5">
            Living Room Family Set
          </h3>
          <h3
            class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2"
          >
            <span>$</span> <span>712</span>
          </h3>
        </div>
        <div class="rate">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <a href="">See Details</a>
      </div>
    </div>
    <div class="seclectedCard col-12 card row d-flex rounded flex-row border">
      <div class="imgContainer w-auto p-3">
        <img
          class="img-fluid cardImage"
          src="../../../assets/images/chair4.jpg"
          alt=""
        />
      </div>
      <div class="cardDesc col p-3 mx-2">
        <div class="cardHeader">
          <h3 class="fontdisplay primaryDarkColor h5">
            Living Room Family Set
          </h3>
          <h3
            class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2"
          >
            <span>$</span> <span>712</span>
          </h3>
        </div>
        <div class="rate">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <a href="">See Details</a>
      </div>
    </div>
    <div class="seclectedCard col-12 card row d-flex rounded flex-row border">
      <div class="imgContainer w-auto p-3">
        <img
          class="img-fluid cardImage"
          src="../../../assets/images/chair4.jpg"
          alt=""
        />
      </div>
      <div class="cardDesc col p-3 mx-2">
        <div class="cardHeader">
          <h3 class="fontdisplay primaryDarkColor h5">
            Living Room Family Set
          </h3>
          <h3
            class="price h5 fontdisplay primaryDarkColor font-weight-bold my-2"
          >
            <span>$</span> <span>712</span>
          </h3>
        </div>
        <div class="rate">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <a href="">See Details</a>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row-reverse my-4 justify-content-lg-between">
  <div class="d-lg-flex d-none flex-column align-self-start">
    <div>
      <img
        class="arrowIcon mx-auto"
        src="../../../assets/icons/Group 28.png"
        alt=""
      />
    </div>
    <div>
      <img class="arrowIcon" src="../../../assets/icons/Group 29.png" alt="" />
    </div>
  </div>
  <div class="categoryParent col-12 w-50 mx-auto align-self-start">
    <button
      class="btn border w-100 allCategotiesBtn my-lg-4 mb-sm-4 w-75 mx-lg-2"
    >
      <span class="me-2"> All Categories </span>
      <i
        class="fa-regular fa-arrow-right"
        style="font-family: FontAwesome; font-weight: 200"
      ></i>
    </button>
  </div>
</div>
